body{
    background-color: black;
}
h1{
    color: aqua;
    text-align: center;
}
h2{
    color: aquamarine;
    text-align: center;
}
p{
    color: lightblue;
    text-align: center;
}
div{
    text-align: center;
}